<%= render 'shared/page_title', title: "All Recipes" %>

<% @recipes.each do |v| %>
<div class="row">
    <div class="col-md-2">
        <section class="chef_info center">
           <%= gravatar_for v.chef, size: 100 %>
           <h5>Chef name: <%= v.chef.chefname %></h5>
        </section>
    </div>
    
    <div class="col-lg-6 well">
      <h4><%= link_to v.name, recipe_path(v)%></h4>
      <p><%= link_to v.summary %></p>
    <p>
        <span class="quiet"><small><%=time_ago_in_words(v.created_at)%> ago</small>
            
        </span>
    </p>    
    </div>
    <div class="col-md-4">
     <%= image_tag(v.picture.url,size:"250x150", class: "gravator") if v.picture?%>  
        
    </div>
    </div>
<hr/>

<% end %>